*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(87, 42, 165);
   
    
}
h1{
    color: aliceblue;
}
.text> button{
    border: none;
    border-radius: 3px;
    color: rgb(45, 28, 6);
    background-color: rgb(215, 20, 218);
    
}
.text{
    display: flex;
    padding-top: 10px;
}
input[type="text"]{
    border: none;
    font-size: 20px;
    width: 200px;
    border-bottom: 1px solid silver;
    width: 500px;
    
    outline: none;
    padding: 0 270px;       
}
h2{
    padding: 0 20px;
    padding-top: 10px;
}
p{
    text-align: center;
}
footer{
    background-color:bisque;
    margin-top: 20px;
    padding: 10px;
}
